/*INDEX*/
/*
01-basic setup
02-text
03-header
04-homepage image
05-featured
06-new arrivals
07-joe-s picks
08-sales
09-quick access
10-footer
11-attoms
*/

/** 01-basic setup **/
:root{
    --light-gray: #F3F2F1;
    --mid-gray: #9F9F9F;
    --dark-gray: #211F1F;
    --orange: #C83F00;
}

body{
    background-color: white;
}

*,
:before,
:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid{
    display: inline-block;
}

.row{
    width: 80vw;
    height: auto;
    position: relative;
    margin-left: 10%;

    background-color: lightcoral;
}

ul{ 
    margin: 0;
}

.section-tittles{
    padding: 40px 0;
    text-align: center;
    color: var(--light-gray);
}

mark{
    background-color: var(--dark-gray);
    color: var(--light-gray);
    padding: 10px 20px
}

/** 02-text **/

h1 {
    font-family: 'New Rocker', cursive;
    font-size: 44px;
}

h2 {
    font-family: 'New Rocker', cursive;
    font-size: 32px;
}

h3 {
    font-family: 'New Rocker', cursive;
    font-size: 24px;
}

h4 {
    font-family: 'New Rocker', cursive;
    font-size: 19px;
}

h5 {
    font-family: 'New Rocker', cursive;
    font-size: 17px;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

p{
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.hr-dark {
    border: 1px solid var(--dark-gray);
    margin-top: 40px;
}
/** 03-header **/

/*secondary header*/
.secondary-header{
    background-color: white;
    height: 2em;
    width: 100%;
}

.secondary-header a{
    letter-spacing: 2px;
    float: right;
    margin-right: 2em;
    font-size: 14px;
    margin-top: 8px;
    color: var(--dark-gray);
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

.secondary-header a:hover,
.secondary-header a:focus{
    color: var(--orange);
}

/*primary header*/
nav{
    display: block;
    position: relative;
    background-color: var(--light-gray);
    width: 100%;  
    height: 110px;
    
    box-shadow: 0px 17px 29px -19px rgba(0,0,0,0.15);
}

nav ul{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.nav-block{
    margin-left: 40px
}

.nav-logo{
    margin-right: 70px;
}

nav img{
    display: block;
    height: 80px;
    width: auto;
}

nav li{
    display: inline-flex;
    float: left;
    margin-right: 3.5em;
    letter-spacing: 0.3em;
    align-items: center;
}

nav li a{ 
    color: var(--dark-gray);
}

.site-map a{
    background-color: transparent;
    transition:color 0.3s ease-in-out;
    -webkit-transition:color 0.3s ease-in-out;
    -moz-transition:color 0.3s ease-in-out;
    -ms-transition:color 0.3s ease-in-out;
    -o-transition:color 0.3s ease-in-out;
}

.site-map a:active,
.site-map a:hover {
    color: var(--light-gray);
    background-color: var(--dark-gray);
}

nav li :last-child{
    margin-right: 0;
}

.nav-buttons:before{
    content: '·';
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    transform: translateX(-1.2em);
    -webkit-transform: translateX(-1.2em);
    -moz-transform: translateX(-1.2em);
    -ms-transform: translateX(-1.2em);
    -o-transform: translateX(-1.2em);
}

.form-container{
    width: 300px;
    align-items: center;
}

input#search-bar{
    margin: 0 auto;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    outline: none;
}

.form-icon {
    position: inline-flex;
}

/** 04-homepage image **/

.hp-img img{
    width: 100%;
}

/** 05-featured **/

.featured{
    background-color: lightblue;
}

/* .section-tittles{
    padding: 40px 0;
    text-align: center;
    color: var(--light-gray);
    background-color: var(--dark-gray);

} */

/** 06-new arrivals **/

/** 07-joe's picks **/

/** 08-sales **/

/** 09-quick access **/

/** 10-footer **/

/** 11-atoms **/

/*buttons*/

.btn-dark{
    color: var(--dark-gray);
    background-color: transparent;
    margin: 20px;
    border: 2px solid var(--dark-gray);
    height: 40px;
    width: 180px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    letter-spacing: 2px;
    box-shadow: rgb(33,31,31) 0px 0px 0px,  rgb(33,31,31) -1px 1px 0px,  rgb(33,31,31) -2px 2px 0px,  rgb(33,31,31) -3px 3px 0px,  rgb(33,31,31) -4px 4px 0px,  rgb(33,31,31) -5px 5px 0px,  rgb(33,31,31) -6px 6px 0px,  rgb(33,31,31) -7px 7px 0px,  rgb(33,31,31) -8px 8px 0px;
    transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -webkit-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -moz-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -ms-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -o-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
}

.btn-dark:active{
    box-shadow: none;
    transform: translate(-8px, 8px);
    -webkit-transform: translate(-8px, 8px);
    -moz-transform: translate(-8px, 8px);
    -ms-transform: translate(-8px, 8px);
    -o-transform: translate(-8px, 8px);
    color: var(--dark-gray);
}

.btn-light{
    color: white;
    background-color: transparent;
    margin: 20px;
    border: 2px solid white;
    height: 40px;
    width: 180px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    letter-spacing: 2px;
    box-shadow: rgb(255,255,255) 0px 0px 0px,  rgb(255,255,255) -1px 1px 0px,  rgb(255,255,255) -2px 2px 0px,  rgb(255,255,255) -3px 3px 0px,  rgb(255,255,255) -4px 4px 0px,  rgb(255,255,255) -5px 5px 0px,  rgb(255,255,255) -6px 6px 0px,  rgb(255,255,255) -7px 7px 0px,  rgb(255,255,255) -8px 8px 0px;
    transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -webkit-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -moz-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -ms-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -o-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
}

.btn-light:active{
    box-shadow: none;
    transform: translate(-8px, 8px);
    -webkit-transform: translate(-8px, 8px);
    -moz-transform: translate(-8px, 8px);
    -ms-transform: translate(-8px, 8px);
    -o-transform: translate(-8px, 8px);
    color: white;
}






