/*INDEX*/
/*

01-basic setup
02-text
03-header

----HOMEPAGE----
04-homepage image
05-featured
06-new arrivals
07-joe-s picks
08-sales
09-quick access
10-footer
11-attoms

----SHOP----
12-breadcrumbs
13-product filter
14-shop featured
15-shop-items
16-old stuff

----ABOUT----
*/

/** 01-basic setup **/
:root{
    --light-gray: #F3F2F1;
    --mid-gray: #9F9F9F;
    --dark-gray: #211F1F;
    --orange: #C83F00;
}

body{
    /* background-color: rgb(240, 105, 87); */
    overflow-x: hidden;
}

*,
:before,
:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid{
    display: inline-block;
}

.row{
    width: 100vw;
    height: auto;
    position: relative;
    padding: 70px 0px;

    /* background-color: lightcoral; */
}

.inner-row{
    width: 70vw;
    height: auto;
    /* background-color: lightpink; */
    position: relative;
    margin-left: 15vw;
}

.footer-row{
    width: 90vw;
    height: auto;
    margin-left: 5vw;
    position: relative;
}

ul{ 
    margin: 0;
}

.section-tittles{
    padding-bottom:70px;
    text-align: center;
    color: var(--light-gray);
}

mark{
    background-color: var(--dark-gray);
    color: var(--light-gray);
    padding: 10px 20px
}

.clearfix:after{
    visibility: hidden;
    display: block;
    content: ' ';
    clear: both;
    height: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

:focus,
:active{
    outline-color: var(--orange);
}

ul{
    list-style-type: none;
}

/** 02-text **/

h1 {
    font-family: 'New Rocker', cursive;
    font-size: 48px;
}

h2 {
    font-family: 'New Rocker', cursive;
    font-size: 32px;
    letter-spacing: 4px;
    line-height: 45px
}

h3 {
    font-family: 'New Rocker', cursive;
    font-size: 24px;
}

h4 {
    font-family: 'New Rocker', cursive;
    font-size: 22px;
    letter-spacing: 0.3em;
}

h5 {
    font-family: 'New Rocker', cursive;
    font-size: 19px;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.hr{
    margin: 70px 0 0 10%;
    width: 80vw;
}
.hr-dark{
    border: 1px solid var(--dark-gray);
}

.hr-light{
    border: 1px solid white;
}

/** 03-header **/

/*secondary header*/
.secondary-header{
    background-color: white;
    height: 2em;
    width: 100%;
}

.secondary-header a{
    letter-spacing: 2px;
    float: right;
    margin-right: 2em;
    font-size: 14px;
    margin-top: 8px;
    color: var(--dark-gray);
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

.secondary-header a:hover,
.secondary-header a:focus{
    color: var(--orange);
}

/*primary header*/
nav{
    display: block;
    position: relative;
    background-color: var(--light-gray);
    width: 100%;  
    height: 110px;
    
    box-shadow: 0px 17px 29px -19px rgba(0,0,0,0.15);
}

nav ul{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.nav-block{
    margin-left: 40px
}

.nav-logo{
    margin-right: 70px;
}

nav img{
    display: block;
    height: 80px;
    width: auto;
}

nav li{
    display: inline-flex;
    float: left;
    margin-right: 3.5em;
    align-items: center;
}

nav li a{ 
    color: var(--dark-gray);
}

.site-map a{
    background-color: transparent;
    transition:color 0.3s ease-in-out;
    -webkit-transition:color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition:color 0.3s ease-in-out;
    -ms-transition:color 0.3s ease-in-out;
    -o-transition:color 0.3s ease-in-out;
    padding:10px;
}

.site-map a:active,
.site-map a:hover {
    color: var(--light-gray);
    background-color: var(--dark-gray);
}

nav li :last-child{
    margin-right: 0;
}

.nav-buttons:before{
    content: '·';
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    transform: translateX(-1.2em);
    -webkit-transform: translateX(-1.2em);
    -moz-transform: translateX(-1.2em);
    -ms-transform: translateX(-1.2em);
    -o-transform: translateX(-1.2em);
}

.form-container{
    width: 300px;
    align-items: center;
}

input#search-bar{
    margin: 0 auto;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    outline: none;
}

.form-icon {
    position: inline-flex;
}

/** 04-homepage image **/

.hp-img img{
    width: 100%;
}

/** 05-featured **/

.featured{
    background-color: var(--light-gray);
    height: auto;
}
.featured figure{
    float: left;
    margin-right: 2vw;
    position: relative;
}

.featured figure img{
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    object-position: right;
}

.featured-content ul{
    height: 25em;
    width: 43vw;
    position: relative;
}

.featured-content li:first-child{
    margin-bottom: 4vw;
}

.featured-content li:last-child{
    display: inline-flex;
    bottom: 10px;
    position: absolute;
}

/** 06-new arrivals **/

.card{
    height: auto;
    width: auto;
    align-content: center;
    float: left;
    margin-right: 3.5vw;
}

.card:last-child{
    margin-right: 0;
}

.card img{
    width: 21vw;
    height: 21vw;
    object-fit: cover;
    object-position: right;
}

.card h6,
.card p{
    margin-top: 0.5em;
    margin-bottom: 0;
}

.card h3{
    margin-top: 1em;
}
/** 07-joe's picks **/

.joe-picks{
    background-color: var(--light-gray);
}

.joe-picks ul{
    display: inline-flex;
    align-items: center;
}

#zombie-left{
    height: 150px;
    transform: rotate(60deg) translateX(-550px);
    position: absolute;
    top: 495px;
    -webkit-transform: rotate(60deg) translateX(-550px);
    -moz-transform: rotate(60deg) translateX(-550px);
    -ms-transform: rotate(60deg) translateX(-550px);
    -o-transform: rotate(60deg) translateX(-550px);
}

#zombie-right{
    height: 150px;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    position: absolute;
    top: 20px;
    margin-left: 13em;
}

/** 08-sales **/

.sales{
    background-color: var(--dark-gray)
}

.sales h6,
.sales h3,
.sales p{
    color: white;
}

/** 09-quick access **/

.quick-access figure{
    width: 11vw;
    margin-right: 17vw;
    margin-bottom: 45px;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}

.quick-access img{
    object-fit: cover;
    height: 16vw;
    width: auto;
    margin-bottom: 7vh;
    /* transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px); */
}

/** 10-footer **/

.main-footer{
    position: relative;
    background: var(--dark-gray);
    color: white;
    height: 450px;
    width: 100vw;
    padding: 70px 0;
  }
  
.main-footer:before {
    background: linear-gradient(-45deg, var(--dark-gray) 16px, transparent 0), linear-gradient(45deg,var(--dark-gray) 16px,transparent 0);
    background-repeat: repeat-x;
    background-size: 45px 30px;
    content: " ";
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 45px;
  }

.col{
    margin-right: 4.5vw; 
    height: auto;
    width: 25vw;
    position: relative,
  }

.col:first-child{
    width: 28vw;
}

.col:last-child{
    width: 28vw;
    margin: 0
}

/*col 1 */

#footer-logo{
    height: auto;
    width: 25vw;
    filter: invert(100);
    -webkit-filter: invert(100);
}

.col h5{
    
    margin-top: 5vmin;
    line-height: 1.5em;
    letter-spacing: 3px;
}

/*col 2 */

#footer-site-map{
    margin-top: 30px;
    text-decoration: underline;
}

#footer-site-map li{
    margin: 30px 0;
    font-size: 19px;
}
#social-media{
    /* position: absolute; */
    bottom: 0;

}

#social-media img{
    height: 60px;
    width: auto;
    filter: invert(100);
    -webkit-filter: invert(100);
    margin: 10vmin 2vmin 0 0;
}

/*col 3 */

#newsletter{
    background: white;
    height: 350px;
    color: var(--dark-gray);
    padding: 40px;
}
#newsletter ul{
    margin-top: 10vh;
}

#newsletter li:first-child{
    margin-bottom: 15px
}

#newsletter li{
    margin-bottom: 30px
}

#newsletter input{
    margin: 0 auto;
    height: 40px;
    width: 20vw;
    padding: 0 20px;
    font-size: 1rem;
    border: 3px solid var(--dark-gray);
    background-color: transparent;
    outline: none;

    box-shadow: rgb(33,31,31) 0px 0px 0px,  rgb(33,31,31) -1px 1px 0px,  rgb(33,31,31) -2px 2px 0px,  rgb(33,31,31) -3px 3px 0px,  rgb(33,31,31) -4px 4px 0px,  rgb(33,31,31) -5px 5px 0px,  rgb(33,31,31) -6px 6px 0px,  rgb(33,31,31) -7px 7px 0px,  rgb(33,31,31) -8px 8px 0px;
    transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -webkit-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -moz-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -ms-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -o-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
}

#newsletter img{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    filter: FlipH;
    -webkit-filter: "FlipH";

    height: 170px;
    width: auto;
    position: absolute;
    top: 20px;
    right: 10px;

}
/*lower footer*/

.footer-lower p,
.footer-lower a{
    font-size: 14px;
}

.footer-lower div{
    display: inline-flex;
    margin: 5px 0;
}

#terms{
    width: 255px;
    float: left;
}

.footer-lower li p{
   font-size: 16px;
}

#design{
    width: 155px;
    float: right;
}

/** 11-atoms **/

/*buttons*/

.btn{
    text-align: center;
    padding-top: 8px;
    display:block;
    cursor: pointer;
    background-color: transparent;
    height: 40px;
    width: 220px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    letter-spacing: 2px;
}
.btn-dark{
    color: var(--dark-gray);
    border: 3px solid var(--dark-gray);
    box-shadow: rgb(33,31,31) 0px 0px 0px,  rgb(33,31,31) -1px 1px 0px,  rgb(33,31,31) -2px 2px 0px,  rgb(33,31,31) -3px 3px 0px,  rgb(33,31,31) -4px 4px 0px,  rgb(33,31,31) -5px 5px 0px,  rgb(33,31,31) -6px 6px 0px,  rgb(33,31,31) -7px 7px 0px,  rgb(33,31,31) -8px 8px 0px;
    transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -webkit-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -moz-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -ms-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -o-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
}

.btn-dark:active{
    box-shadow: none;
    transform: translate(-8px, 8px);
    -webkit-transform: translate(-8px, 8px);
    -moz-transform: translate(-8px, 8px);
    -ms-transform: translate(-8px, 8px);
    -o-transform: translate(-8px, 8px);
    color: var(--dark-gray);
}

.btn-light{
    color: white;
    border: 3px solid white;
    box-shadow: rgb(255,255,255) 0px 0px 0px,  rgb(255,255,255) -1px 1px 0px,  rgb(255,255,255) -2px 2px 0px,  rgb(255,255,255) -3px 3px 0px,  rgb(255,255,255) -4px 4px 0px,  rgb(255,255,255) -5px 5px 0px,  rgb(255,255,255) -6px 6px 0px,  rgb(255,255,255) -7px 7px 0px,  rgb(255,255,255) -8px 8px 0px;
    transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -webkit-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -moz-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -ms-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
    -o-transition: transform ease-in-out 150ms, box-shadow ease-in-out 150ms;
}

.btn-light:active{
    box-shadow: none;
    transform: translate(-8px, 8px);
    -webkit-transform: translate(-8px, 8px);
    -moz-transform: translate(-8px, 8px);
    -ms-transform: translate(-8px, 8px);
    -o-transform: translate(-8px, 8px);
    color: white;
}

.btn-centre{
    /* padding-top: 0; */
    margin-top: 70px;
    margin-left:50vw;
    transform: translateX(-90px);
    -webkit-transform: translateX(-90px);
    -moz-transform: translateX(-90px);
    -ms-transform: translateX(-90px);
    -o-transform: translateX(-90px);
}

.btn-centre:active{
    box-shadow: none;
    transform: translate(-98px, 8px);
    -webkit-transform: translate(-98px, 8px);
    -moz-transform: translate(-98px, 8px);
    -ms-transform: translate(-98px, 8px);
    -o-transform: translate(-98px, 8px);
}

button.btn-dark,
button.btn-light{
    padding-top: 0;
    line-height: 1px;
}


/*select dropdown*/

.dropdown select {
cursor: pointer;
background-color: transparent;
color: #555;
font-size: inherit;
padding: .5em;
padding-right: 3em;	
border: 2px solid #555;
margin: 0;
text-indent: 0.01px;
text-overflow: '';
-webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.dropdown::before,
.dropdown::after {
content: "";
position: absolute;
pointer-events: none;
}

.dropdown::after { /*  Custom dropdown arrow */
content: "\25BC";
height: 1em;
font-size: .8em;
line-height: 1;
right: .8em;
top: 50%;
margin-top: -.4em;
color: #555;
}

.dropdown select option{
border: 2px solid #555;
background: #fff;
color: #555;
margin: 5px 0;
}

/*--12-breadcrumbs--*/

.shop-main-body{
    width: 100%;
    height: auto;
    padding: 0 2.5vw;
    background: var(--light-gray);
    position: relative;
    display: flex;
}

.breadcrumbs-nav{
    height: 15vh;
    background: var(--light-gray);
    padding: 6vh 2.5vw 0 2.5vw;
    display:flex;
    justify-content: space-between;
}

.breadcrumbs li{
    float: left;
    list-style-type: none;
    padding: 0.5em;
}

.dropdown{
    display: inline-flex;
    float: right;
}

/*--13-product filter--*/

.product-filter{
    width: 22vw;
    vertical-align: top;
}

.product-filter section{
    margin-bottom: 5vh;
}

.brand{
    position: relative;
    width: 100%;
    height: auto;
}

.filter-header h4{
    padding: 10px 0 30px 0;
}

.filter-header li{
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input[type=checkbox]{
    vertical-align: center;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-right:1em;
}



/*--14-shop featured--*/

.store-column{
    width: 72vw;
    /* background: lightcyan; */
    position: relative;
    vertical-align: top;
    padding-left: 2vw;
}

.store-feature hr{
    margin: 40px 0;
}

.content{
    display: flex;
    height: 60vh;
    width: 100%;
}
.content div{
    margin-left: 2vw;
    position: relative;
}

.content h4{
    margin: -9px 0 7vh 0;
    line-height: 3em;
}

.content h2{
    margin-bottom: 2vh;
}

.content img{
    height:60vh;
    width: 60vh;
    object-fit: cover;
}

.description{
    line-height: 2em;
    margin-bottom: 5vh;
}

.product-tags{
    margin-bottom:1vh;
}

.content a{
    /*margin-top:10.5%;
    */
    bottom:  7px;
    position: absolute;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}

/*--15-shop-items--*/

.wrap{
    display: flex;
    position: relative;
    flex-flow: wrap;
    justify-content: space-between;
}

.wrap li{
    margin-bottom: 10vh;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.wrap li:hover{
    transform:scale(1.01);
    -webkit-transform:scale(1.01);
    -moz-transform:scale(1.01);
    -ms-transform:scale(1.01);
    -o-transform:scale(1.01);
}

.store-items img{
    width: 22vw;
    height: 23vw;
    object-fit: cover;
}

.store-pagination{
    display: flex;
    justify-content: space-between;
    padding: 7vh 0;
}

.item-content li{
    margin-bottom: 1vh;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.item-content li:hover{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}


/*--16-old stuff--*/

.old-stuff{
    position: relative;
}






